<h1>インデックスページ</h1>

<%
  text =<<~TEXT
    # 大見出し
    ---
    ## 中見出し
    ***
    ### 小見出し
    * * *
    #おお見出し
    - - -
    ##ちゅう見出し
    ===
    ### しょう見出し
    - --
    しょう見出しのパラグラフ
    <https://www.yahoo.co.tk>

    - [ ] リスト1
    - [x] リスト2

    [Qiita](http://qiita.com)
    [Qiita](http://qiita.com "Qiita")

    ![ダミー画像](http://placehold.it/100/?text=)
    ![ダミー画像](http://placehold.it/100/?text=)
    ![ダミー画像](http://placehold.it/300x240/?text=)

        $hoge = 1
        $hoge = 2

    H1見出し（イコール行を挿入。）
    ==

    H2見出し（ハイフン行を挿入。）
    --

    H2見出し（ハイフン行を挿入。）
    ---
    ---
    > 引用本文引用本文引用本文引用本文
    > 引用本文引用本文引用本文引用本文引用本文引用本文。

    > 引用本文引用本文引用本文引用本文
    > > 引用本文引用本文引用本文引用本文

    `var moge = 100;`

    ```html:sample
    <div class="radioWave">
      <p>迷いの中あてなく見上げた空彩る星たちが</p>
      <p>嘘みたいに晴れた朝に繋がることを教えてくれた</p>
    </div>
    ```

    [Wiki:Markdown](https://ja.wikipedia.org/wiki/Markdown):WikiのMarkdownのページ

    段落1
    おはようございます。  
    ごゆっくり。

    段落2
    おはようございます。 
    ごゆっくり。

    - ~~リスト1~~
      - リスト1子
        - リスト1孫

    - リスト2

    - リスト3

    - 親リスト1
      - 子リスト1-1
        - 孫リスト1-1-1
      - 子リスト1-2
      - 子リスト1-3
    - 親リスト2
        - 孫リスト2-1-1
        - 孫リスト2-1-2
      -子リスト2-2

   - リスト1
    - ネスト リスト1_1
     - ネスト リスト1_1_1
       - ネスト リスト1_1_2
   - ネスト リスト1_2
    - リスト2
     - リスト3


  TEXT
%>

<%= markdown(text).html_safe %>