<h1>インデックスページ</h1>

<%
  text =<<~TEXT
    # 大見出し
    ---
    ## 中見出し
    ***
    ### 小見出し
    * * *
    # おお見出し
    - - -
    ## ちゅう見出し
    -- -
    ### しょう見出し
    - --
    H1見出し（イコール行を挿入。）
    =
    * * *
    H2見出し（ハイフン行を挿入。）
    -
    * * *
  TEXT
%>

<%= markdown(text).html_safe %>